/* .head-menu ul li a img{
    height: 40px;
    margin: 0 15px;
  } */

  .navbar-brand img{
    height: 40px;
    margin: 0 15px;
  }

  .icon-link img{
    height: 40px;
  }

  .demoTitle{
    background-color: #68c6cb;
    font-weight: bold;
  }

  .demoBody{
    background-color: #6bcead;
  }